:root {
    font-size: 60%;
}

body {

    background-color: ;
    max-width: 1200px;
    height: 20px;
    margin-top: 50px;
    font-size: 110%;
}

.roberto{


}

.jonas{


}

.rayssa{


}

.bruno{


}

.aline{


}

.clara{

    
}
